.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.movie-info {
  text-align: center;
  margin-top: 0.5rem;
}

form {
  margin-bottom: 2rem
}

.movie-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.movie-detail img {
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.movie-detail h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.movie-detail p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
